*{
    margin: 0;
    padding: 0;
}
.body-site {
    display: none;
}
.started-list {
    position: relative;
    z-index: 2;
    height: 100vh;
    background: linear-gradient(rgb(134, 0, 0), black);
    padding-top: 160px;
}
.started-text-conteiner {
    height: 100px;
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 40px;
    padding-top: 5px;
}
#a1 {
    font-size: 17px;
    color: rgb(214, 214, 214);
    position: relative;
    top: -18px;
    left: -15px;
}
.started-list-button {
    display: block;
    width: 60%;
    margin-left: 20%;
    height: 40px;
    position: relative;
    top: -20px;
    background-color: rgb(110, 40, 22);
    border: 2px;
    border-radius: 10px;
    color: rgb(226, 226, 226);
    font-size: 19px;
}
body {
    background-color: rgb(8, 8, 8);
    color: white;
}
header {
    height: 265px;
    background: linear-gradient(135deg, rgb(110, 20, 20), rgb(8, 8, 8));
    padding-top: 35px;
    z-index: 4;
}

.header-name {
    height: 100px;
    text-align: center;
}
.header-name-span-1 {
    font-size: 30px;
}
.header-name-span-2 {
    font-size: 17px;
    position: relative;
    top: -8px;
    left: -55px;
}
nav {
    height: 135px;
    text-decoration: none;
    padding-top: 15px;
}
.header-nav-link {
    display: block;
    position: relative;
    float: left;
    background-color: rgb(168, 76, 0);
    width: 45%;
    margin-left: 3.5%;
    margin-bottom: 20px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    border: 0;
}
.header-nav-link:hover {
    background-color: rgb(124, 56, 0);
}
main {
    height: 2000px;
    padding-top: 5px;
    position: relative;
} 
.main-div-1 {
    display: block;
    background: linear-gradient(135deg, rgb(133, 53, 15), rgb(8, 8, 8));
    width: 94%;
    margin-left: 1%;
    height:auto;
    border-radius: 10px;
    border: 2px solid rgb(204, 89, 60);
    text-align: left;
    padding-left: 3%;
    padding-right: 1,5%;
    margin-bottom: 10px;
}
.main-div-1-div {
    text-align: center;
    height: 50px;
    font-size: 30px;
}
.main-div-1-text {
    font-size: 20px;
}
.main-div-1-text-span {
    position: relative;
    left: 15px;
    font-size: 17px;
}
.main-div-1-text-span-a {
    font-size: 20px;
    left: 10px;
}





.main-div-2 {
    display: none;
background: linear-gradient(135deg, rgb(133, 53, 15), rgb(8, 8, 8));
    width: 94%;
    margin-left: 1%;
    height:auto;
    border-radius: 10px;
    border: 2px solid rgb(204, 89, 60);
    text-align: left;
    padding-left: 3%;
    padding-right: 1,5%;
    margin-bottom: 10px;
}
.main-div-3{
    display: none;
background: linear-gradient(135deg, rgb(133, 53, 15), rgb(8, 8, 8));
    width: 94%;
    margin-left: 1%;
    height:auto;
    border-radius: 10px;
    border: 2px solid rgb(204, 89, 60);
    text-align: left;
    padding-left: 3%;
    padding-right: 1,5%;
    margin-bottom: 10px;
}
.main-div-4 {
    display: none;
background: linear-gradient(135deg, rgb(133, 53, 15), rgb(8, 8, 8));
    width: 94%;
    margin-left: 1%;
    height:auto;
    border-radius: 10px;
    border: 2px solid rgb(204, 89, 60);
    text-align: left;
    padding-left: 3%;
    padding-right: 1,5%;
    margin-bottom: 10px;
}
.main-div-5 {
    display: none;
background: linear-gradient(135deg, rgb(77, 29, 7), rgb(8, 8, 8));
    width: 94%;
    margin-left: 1%;
    height:auto;
    border-radius: 10px;
    border: 2px solid rgb(204, 89, 60);
    text-align: left;
    padding-left: 3%;
    padding-right: 1,5%;
    margin-bottom: 10px;
}


.main-div-2-div {
    text-align: center;
    height: 50px;
    font-size: 30px;
}
.main-div-3-div {
    text-align: center;
    height: 50px;
    font-size: 30px;
}
.main-div-4-div {
    text-align: center;
    height: 50px;
    font-size: 30px;
}
.main-div-5-div {
    text-align: center;
    height: 50px;
    font-size: 30px;
}


.main-div-2-text {
    font-size: 20px;
}
.main-div-3-text {
    font-size: 20px;
}
.main-div-4-text {
    font-size: 20px;
}
.main-div-5-text {
    font-size: 20px;
}


.main-div-2-text-span {
    position: relative;
    left: 15px;
    font-size: 17px;
}
.main-div-3-text-span {
    position: relative;
    left: 15px;
    font-size: 17px;
}
.main-div-4-text-span {
    position: relative;
    left: 15px;
    font-size: 17px;
}
.main-div-5-text-span {
    position: relative;
    left: 15px;
    font-size: 17px;
}


.main-div-2-text-span-a {
    font-size: 20px;
    left: 10px;
}
.main-div-3-text-span-a {
    font-size: 20px;
    left: 10px;
}
.main-div-4-text-span-a {
    font-size: 20px;
    left: 10px;
}
.main-div-5-text-span-a {
    font-size: 20px;
    left: 10px;
}


.memeber-conteiner {
    height: auto;
    width: 96%;
}
.member-item {
    background-color: rgb(15, 15, 15);
    height: 110px;
    border-radius: 10px;
    border: 2px white solid;
    margin-bottom: 10px;
}
.member-img {
    height: 100px;
    border-radius: 10px;
    position: relative;
    float: left;
}
.member-nick {
    height: 100px;
    width: 70%;
    border-radius: 10px;
    position: relative;
    float: left;
    font-size: 25px;
    text-align: left;
}
.know-more {
    background: linear-gradient(135deg, rgb(136, 16, 12), rgb(17, 16, 16));
    position: relative;
    height: 30px;
    width: 35%;
    border-radius: 8px;
    border: 0;
    color: white;
    top: 20px;
    left: 160px;
}
.just-nick {
    position: relative;
    left: 30px;
}

.hidden-block {
    height: 180px;
    position: relative;
    float: right;
    width: 94%;
    margin-top: 5px;
    display: none;
}
.hide {
    margin-left: 70%;
    background: linear-gradient(135deg, rgb(136, 16, 12), rgb(17, 16, 16));
    border: 0;
    color: white;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    position: relative;
    top: -10px;
}