*{
    margin: 0;
    padding: 0;
}
.body-site {
    display: none;
}
.started-list {
    position: relative;
    z-index: 2;
    height: 700px;
    background: linear-gradient(rgb(134, 0, 0), black);
    padding-top: 160px;
}
.started-text-conteiner {
    height: 100px;
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 40px;
    padding-top: 5px;
}
#a1 {
    font-size: 17px;
    color: rgb(214, 214, 214);
    position: relative;
    top: -18px;
    left: -15px;
}
.started-list-button {
    display: block;
    width: 60%;
    margin-left: 20%;
    height: 40px;
    position: relative;
    top: -20px;
    background-color: rgb(110, 40, 22);
    border: 2px;
    border-radius: 10px;
    color: rgb(226, 226, 226);
    font-size: 19px;
}
body {
    background-color: rgb(8, 8, 8);
    color: white;
}
header {
    height: 265px;
    background: linear-gradient(135deg, rgb(110, 20, 20), rgb(8, 8, 8));
    padding-top: 35px;
}

.header-name {
    height: 100px;
    text-align: center;
}
.header-name-span-1 {
    font-size: 30px;
}
.header-name-span-2 {
    font-size: 17px;
    position: relative;
    top: -10px;
    left: -55px;
}
nav {
    height: 135px;
    text-decoration: none;
    padding-top: 15px;
}
.header-nav-link {
    display: block;
    position: relative;
    float: left;
    background-color: rgb(168, 76, 0);
    width: 45%;
    margin-left: 3.5%;
    margin-bottom: 20px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
.header-nav-link:hover {
    background-color: rgb(124, 56, 0);
}
main {
    height: 700px;
    padding-top: 5px;
}
.main-div-1 {
    background-color: rgb(73, 7, 7);
    width: 94%;
    margin-left: 1%;
    height: 350px;
    border-radius: 10px;
    border: 2px solid rgb(204, 147, 94);
    text-align: left;
    padding-left: 3%;
    padding-right: 1,5%;
}
.main-div-1-div {
    text-align: center;
    height: 50px;
    font-size: 30px;
}
.main-div-1-text {
    font-size: 20px;
}
.main-div-1-text-span {
    position: relative;
    left: 15px;
    font-size: 17px;
}